.sprits{
    margin-left: 125px;
    margin-top: 50px;
    margin-top: 25PX;
    text-align: center;
}

.button {
    background-color:rgba(255, 255, 0, 0.527);
    text-align: center;
    padding: 35px 20px;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 15%;
  }
