:root {
    --primary-color: #68A691;
    --secondary-color: #BFD3C1;
    --border-color: #FFE5D4;
    --text-color: #0f0a0a;
    --life-line: #A493AA;
    --bots-color: #ff5757;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-right .bottom-right {
  float: right;
}


.rules p {
  text-align: center;
  font-size: 36px;
}

.rules ol {
  font-size: 16px;
  padding-left: 1.5rem;
}

.button  {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 380px;
  width: 25%;
  border: 3px solid (--border-color);


}
body > footer {
  margin-top: auto;
}


  /*HEADER / NAVBAR STYLE END*/

  .hero {
      text-align: center;
  }

.navbar {
  background-color: var(--primary-color);
}

#battle-section {
  margin: 0em;
}

#stage {
  height: 100%;
}

.arena {
  background-color: darkorange; 
}

#battle-log {
  resize: none;
  width: 100%;
}

.footer {
  background-color: var(--primary-color);
  padding: 1.5rem;
}

