:root {
  --primary-color: #68A691;
  --secondary-color: #BFD3C1;
  --border-color: #FFE5D4;
  --text-color: #0f0a0a;
  --life-line: #A493AA;
  --bots-color: #ff5757;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > footer {
  margin-top: auto;
}

.navbar {
  background-color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  padding: 1.5rem;
}