/* WIN-LOSE STYLE START */

.verdict {
    text-align: center;
    margin: 10px 10px;
    padding: 5px 5px;
  }
  
  .verdict h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--bots-color);
  }
  
  .verdict h3 {
    font-size: 25px;
    color: var(--text-color);
  }
  
  #badge img {
    width: 20%;
  }
  
  #sadpika img {
    width: 20%;
    border-radius: 25%;
  }

  #winner {
    background-color: var(--border-color);
    text-align: center;
    padding: 15px 15px;
    font-size: 25px;
    margin-top: 25px;
    border-radius: 15%;
  }
  
  /* WIN-LOSE STYLE END */